<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Email Sender App</title>
</head>
<body class="bg-gray-100 p-8">
    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
        <h1 class="text-4xl mb-4">Email Form</h1>
        <hr class="my-4">
        {% load tailwind_filters %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4" type="submit">
                Save Email
            </button>
        </form>
    </div>
</body>
</html>
